[submodule "bin"]
	path = bin
	url = https://github.com/stalker-xrts/stalker-xrts-bin.git
    branch = master

[submodule "src/typedefs/xray16"]
	path = src/typedefs/xray16
	url = https://github.com/stalker-xrts/xray-16-types
    branch = master

[submodule "src/resources"]
	path = src/resources
	url = https://github.com/stalker-xrts/stalker-xrts-resources.git
    branch = master
