[submodule "cli/bin"]
	path = cli/bin
	url = https://github.com/xray-forge/stalker-xrf-bin.git
  branch = main

[submodule "src/resources"]
	path = src/resources
	url = https://github.com/xray-forge/stalker-xrf-resources.git
  branch = main

[submodule "src/typedefs/xray16"]
	path = src/typedefs/xray16
	url = https://github.com/xray-forge/xray-16-types
  branch = main
